{% extends "base.html" %}
{% block title %}LDAP|Host Search{% endblock %}
{% block content %}
     <div class="container-fluid">
         <div class="col-md-3">
             <h3>Hostname or IP Address</h3>
             <form enctype="multipart/form-data" action="host_result/" method="post">
                 {% csrf_token %}
                 {{ form.as_p}}
                 <input type="submit" value="Submit" />
             </form>
         </div>
         <div class="col-md-1"></div>
         <div class="col-md-4">
             <img src="../static/img/Albertsons_logo.png" alt="Albertsons Logo" height="59" width="230">
             <p>text here</p>
         </div>
         <div class="col-md-1"></div>
         <div class="col-md-3">
             <h3>LDAP</h3>
             <form enctype="multipart/form-data" action="ldap_result/" method="post">
                 {% csrf_token %}
                 {{ form.as_p}}
                 <input type="submit" value="Submit" />
             </form>
         </div>
     </div>
{% endblock %}

