{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="content">
            <img src="../static/img/Albertsons_logo.png" alt="Albertsons Logo" height="59" width="230">
             <h1>{{ name }}</h1>
            {% if arr_length == 0 %}
                <p>User not found</p>
            {% else %}
                {% for i in response %}
                    <h3>{{ i }}</h3>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}