{% extends "base.html" %}
{% load static %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
      <div class="container-fluid">
          <div class="col-md-3 res"></div>
          <div class="col-md-6" id="content">
              <img src="{% static "img/Albertsons_logo.png" %}" alt="Albertsons Logo" height="59" width="230">
              {% if arr_length == 0 %}
                <ul>User not found</ul>
              {% else %}
                <h4>Results:</h4>
                {% for i in response %}
                    <ul>{{ i }}</ul>
                {% endfor %}
                {% endif %}
              <p>
              </p>
              <a href="/" class="btn btn-primary btn-default btn-danger"><span class="glyphicon glyphicon-step-backward">
              </span>Go Back</a>
            </div>
          <div class="col-md-3 res"></div>

      </div>
{% endblock %}